<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    
       <h1> operations</h1>
        <h1> if conditions </h1>
        {% if a > 10 %}
        <h1>iam inside if block</h1>
        <h1>{{a}}</h1>

        {% endif %}
       
    
        <h1>if-else block</h1>
        {% if a > b %}
             <h1> if block</h1>
             <h1>{{a}} is max</h1>  
        {% else %}
            <h1> inside else block</h1> 
            <h1>{{b}} is max</h1>
        {% endif %}   
        
        
   
        <h1>if-elif-else conditions</h1>
        {% if a > b and a > c %}
                <h1> if block</h1>
                <h1>a is max</h1>
        {% elif b > c %}
              <h2>elif block</h2>
              <h2>b is max</h2>
        {% else %}
             <h1>else block</h1>     
             <h2>c is max</h2>
        {% endif %} 



          

        




















        

       
        
    </center>
</body>
</html>